button, input, p, table {
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 10em;
}

p {
    text-align: center;
}
    
table {
    border: 3px solid black;
    border-collapse:collapse;
    margin: 0 auto;
    box-shadow: 4px 4px 4px;
}

thead, tbody {
    border: 2px solid black;
}

thead {
    font-size: 40px;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding : 0 15px 0 15px;
}

/* Style des messages d'erreur ou d'avertissement */
.warning {
    color: red;
    font-size: 40px;
}

#calculator {
    padding: 10px 10px 0 10px;
    border: 3px solid black;
    box-shadow: 4px 4px 4px;
    background-color: #adadad;
    width: 800px;
    margin: 0 auto;
}

.btns-number {
    margin-top: 30px;
}

.btns-operator {
    margin-top: 10px;
}

.btns-parenthesis {
    margin: 10px 0 30px 0;
}

/* Pour changer le style de tous les boutons */
button, input[type=submit], input[type=reset] {
    vertical-align: middle;
    width:33%;
    height: 60px;
}

/* Pour changer le style de tous les boutons au survol, sans prendre un compte les boutons disable */
button:hover:not([disabled]), input[type=submit]:hover:not([disabled]), input[type=reset]:hover:not([disabled]) {
    border-width: 2px;
    box-shadow: 1px 1px;
}


/* Les inputs de type de texte, celui qui affiche le calcul et le résultat*/
input[type=text] {
    text-align:right;
}

#calculator div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#btn-transferResult {
    width: 80px;
}